<div class="mt-4">
    <h3>Dang khoa hoc</h3>
    <form method='post' action='/courses/store'>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="description">Mo ta</label>
            <input type="text" class="form-control" name="description" id="description" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="videoid">Video ID</label>
            <input type="text" class="form-control" name="videoid" id="videoid" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="level">Cap do</label>
            <input type="text" class="form-control" name="level" id="level" aria-describedby="emailHelp">
        </div>

        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>